---
import config from "../../site.config";
---

<footer class="mt-8 flex justify-center">
  <small class="w-full max-w-[720px] min-h-12 flex justify-center items-center opacity-80">
    <a href={config.footer.copyrightUrl} target="_blank">{`© ${new Date().getFullYear()} ${config.footer.copyright}`}</a>
  </small>
</footer>
