html {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 20;
    // @apply bg-bg;
    background-color: var(--color-bg);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
    opacity: 0;
}

::-webkit-scrollbar:hover {
    width: 4px;
    height: 4px;
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
    hr {
        border-color: rgb(119, 119, 119);
    }
}

// button
.buttoned {
    &[data-loading] {
        &::before {
            content: '';
            @apply w-3 h-3;
            /* @apply icon-loading; */
            @apply i-svg-spinners:ring-resize;
        }
    }

    &[data-loading="false"] {
        &::before {
            content: none;
        }
    }
}

// loading
div[data-modal-loading] {
    position: relative;

    &::before {
        @apply absolute w-full h-full top-0 left-0 bg-bg bg-opacity-80 flex items-center justify-center;
        content: '';
        pointer-events: all;
    }
    
    &::after {
        content: '';
        @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-6 h-6 i-svg-spinners:ring-resize;
        pointer-events: none;
    }
}

div[data-modal-loading="false"] {
    &::before {
        content: none;
    }
}

// transition
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

// page
[data-page-draft]:not([data-page-draft="verified"]) {
    display: none;
    visibility: hidden;
}

[data-page-draft] {
    .page-title {
        position: relative;
    }

    .page-title::after {
        content: 'draft';
        @apply bg-yellow-200 dark:bg-yellow rounded mx-1 px-2 py-1 text-xs align-super;
    }
}