---
import "@/index.scss";
import Auth from "@/components/Auth/index.astro";
import Footer from "@/components/Footer.astro";
import config from "urodele.config";

interface Props {
  title?: string;
  description?: string;
  footer?: boolean;
}

const { title, description, footer = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="/favicon.png"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-title" content="Blog" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <meta
      name="description"
      content={description ?? "A self-owned full-static blog system"}
    />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{["Blog", title].reverse().join(" | ")}</title>
  </head>
  <body class="text-text bg-bg">
    <header
      class="flex justify-between items-center p-4 gap-2 bg-gradient-to-r from-red-500 via-yellow-500 via-green-500 via-blue-500 to-purple yellow-500 text-white"
    >
      <a href="/" class="text-white text-lg" aria-label="homepage">
        <div
          class="i-ri:home-4-line transition-transform hover:scale-120 active:scale-95"
        >
        </div>
      </a>
      <div class="flex gap-2 items-center">
        <div class="flex gap-2 items-center header-operations">
          <slot name="operations" />
          <div class="flex gap-2 items-center">
            <a href={config.head.links.github} target="_blank">
              <div
                class="i-ri:github-fill w-6 h-6 hover:scale-120 transition-transform"
              >
              </div>
            </a>
            <a href={config.head.links.juejin} target="_blank">
              <div
                class="i-ri:blogger-line w-6 h-6 hover:scale-120 transition-transform"
              >
              </div>
            </a>
          </div>
        </div>
        {import.meta.env.DEV && <>{<Auth />}</>}
      </div>
    </header>
  </body>
  <slot />
  {footer && <Footer />}
</html>

<style is:global>
  main {
    display: flex;
    width: 100%;
    padding: 20px 10px 0;
    gap: 10px;
    justify-content: center;
  }
  .content {
    max-width: 750px;
    /* padding: 0 24px; */
    overflow-x: hidden;
    flex: 1 1 0;
  }

  /* 隐藏滚动条 */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  html {
    scrollbar-width: none;
  }

  /* IE/Edge */
  body {
    -ms-overflow-style: none;
  }
</style>
